<nav class="navbar navbar-expand-lg border-bottom border-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ page.baseurl }}">
      <img
        src="{{ page.baseurl }}assets/img/icon.png"
        height="75"
        width="75"
        alt="JS">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            JavaScript
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ page.baseurl }}javascript">JavaScript</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ page.baseurl }}javascript/functions">Functions</a></li>
            <li><a class="dropdown-item" href="{{ page.baseurl }}javascript/objects">Objects</a></li>
            <li><a class="dropdown-item" href="{{ page.baseurl }}javascript/generators">Generators</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Web APIs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ page.baseurl }}web">Web APIs</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ page.baseurl }}web/intersection-observer">Intersection Observer</a></li>
            <li><a class="dropdown-item" href="{{ page.baseurl }}web/nodeiterator-treewalker">NodeIterator & TreeWalker</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Node.js
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ page.baseurl }}nodejs">Node.js</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ page.baseurl }}nodejs">File System <code class="code code--bg">fs</code></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
